<ul class="main_list">
    <% @bookmarks.each do |bookmark|  %>
  <li class="item">

    <b>Name:</b>
    <%= bookmark.name %>

    <b>Address: </b>
    <%= bookmark.address  %>


    <a href="/bookmarks/<%= bookmark.id %>">Show</a>


  </li>
    <% end  %>
    
</ul>
