<ul class="main_list">
    <% @bookmarks.each do |bookmark|  %>
  <li class="item">

<p>  
    <b>Name:</b>
    <%= bookmark.name %>
</p>

<p>
    <b>Address: </b>
    <%= bookmark.address  %>
</p>

<p>
    <a href="/bookmarks/<%= bookmark.id %>">Show</a>
</p>


  </li>
    <% end  %>
    
</ul>
