<!DOCTYPE html>
<html>

<head>
  <title>BookmarkR</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

<ul class="ul_nav">
  <li>
    <a href="/bookmarks/new">New Bookmark</a>
  </li>

  <li>
  <a href="/bookmarks">Home</a>
  </li>    
</ul>

<%= yield %>


</body>

</html>