<!DOCTYPE html>
<html>

<head>
  <title>BookmarkR</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<div class='navbar'>

  <div class='button1'>
    <a href="/new">New Bookmark</a>
  </div>

  <div class='button2'>
  <a href="/">Home</a>
  </div>

  <div class='button3'>
  <a href="/">Button</a>
  </div>
  
</div>




<%= yield %>


</body>

</html>