<!DOCTYPE html>
<html>

<head>
  <title>BookmarkR</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
<div class='navbar'>

  <div class='button1'>
    <a href="/bookmarks/new">New Bookmark</a>
  </div>

  <div class='button2'>
  <a href="/bookmarks">Home</a>
  </div>
  
</div>




<%= yield %>


</body>

</html>