<h2>Create New Bookmark</h2>

<form action="/new" method="post">

<label for="name">Name: </label>
<input type="text" name="name"></input>

<label for="address">Bookmark URL: </label>
<input type="text" name="address"></input>

<input type="submit" value="Create Bookmark"></input>

</form>