<ul class="main_list">

  <li class="item">

    <b>Name:</b>
    <%= @bookmark.name %>

    <b>Address: </b>
    <%= @bookmark.address  %>

<a href="/bookmarks/<%= @bookmark.id %>/edit">Edit Bookmark</a>

<form action="/bookmarks/<%= @bookmark.id %>/delete" method="post">
<input type="submit" value="Delete"> </input>
</form>

  </li>

</ul>